// 1942report
@font-face {
  font-family: "1942report";
  src: url("fonts/1942report.eot?#iefix") format("embedded-opentype"),
    url("fonts/1942report.woff") format("woff"),
    url("fonts/1942report.ttf") format("truetype"),
    url("fonts/1942report.svg#1942report") format("svg");
  font-weight: normal;
  font-style: normal;
}